@charset "UTF-8";
/* CSS Document */

/** GENERALT **/
h1, h2{
    font-weight: lighter;
}
h6{
    line-height: 1.8;
    font-weight: 70;
    font-size: 17px;
}

body{
    color:#3d3d3d; 
    font-family: 'Noto Sans TC', sans-serif;
}

.overskrift{
    text-align: center;
    padding-bottom: 40px;
}

/** OP KNAP **/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  #myBtn:hover {
    transform: scale(1.5);
  }

/**---------------------------------------------- FORSIDE ---------------------------------------------------------------**/
.forside{                         
    z-index: 0;
}
.bag{  
    display: flex;   
    justify-content:center;                         
    height:900px;
}
.om{                               
    background-color:#c7dee2;
    border-radius: 4px;
    height:800px;
    top: -50px;
    text-align: center;
    padding-top:40px;
    z-index: 1;
}




/** NAVIGATION  **/
.bg-light {
    background-color: white!important;
}
.navbar-light .navbar-nav .nav-link {
    color:#3d3d3d;
    font-size: 28px;
    font-weight: lighter;
    padding-left: 25px;
}

a:hover{
    border-bottom: 1px solid #F7AA43;
}

.dropdown-item:hover{
    border: none;
    background-color: white;
    color: #F7AA43;
}

.dropdown-item{
    font-size: 22px;
    font-weight: lighter;
} 

.navbar{
    float: right;
    margin-top: 40px;
}
.button{
    align-content: flex-end;
}

.dropdown-menu {
    color: #3d3d3d;
    background-color:none;
    border: white;
    border-radius: 4px;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.punkt{
    border-bottom: 1px solid #F7AA43;
}

/**---------------------------------------------- OM SIDE  ---------------------------------------- **/

.tekst{
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    line-height: 1.8;
}
.tekst1{
    text-align: center;
    padding-top:15px;
    line-height: 1.8;
}
.box{                                 
    display: flex;
    justify-content:center;
}
.rum{
    height: 50px;
}
.border1{
    margin-top:30px;
    background-color:#F7AA43;
    border-radius: 4px;
}
.border{
    background-color:#c7dee2;
    border-radius: 4px;
}

.column{
    column-count: 2;
    text-align: start;
    padding:10px;
}
.indhold{
    text-align: start;
    padding:20px;
}




/** KROPS BILLEDER **/
.hjerne{
    margin-top: 30px;
    width: 250px;
    height: 200px;
    margin-bottom: 40px;
}
.hjerte{
    width: 150px;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.lunger{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.nyer{
    width: 250px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.knogler{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.lever{
    width: 220px;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 40px;
}


/** REGNEMASKINE**/
.regn{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.regnemaskine{
 text-align: center;
 background-color: #F7AA43;
 border-radius: 4px;
 height: 270px;
 margin-bottom: 50px;
 padding-top:10px;
}

#svar{
    margin:15px;
    font-weight: lighter;
    font-size: 22px;
}

/**------------------------------------------------  LÆRINGS SIDE -----------------------------------------------------**/


.grønt{
    border-top: 2px solid #F7AA43;
    padding: 30px;
    margin: 50px;
}

.grønt1{
   background-color: #c7dee2;
   border-radius: 4px;
   margin-top: 50px;
   padding: 30px;
   margin-bottom: 90px;
}

.overskrift2{
    text-align: center;
    border-bottom:1px solid #F7AA43;
}

.gtekst2{
    columns: 2;
    padding:20px;
}
.gtekst{
    text-align: center;  
}

.kost{
    margin-bottom: 30px;
    margin-top: 30px;
}

/** Quizzer **/
.quiz{
    background-color: #F7AA43;
    text-align: center;
    border-radius: 4px;
    height: 225px;
    margin-bottom: 50px;
    padding-top:10px;
}

.quizz{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.læring{
    display: flex;
    align-content: center;
    margin-left: 18%;
}


/**--------------------------------------------- INSPIRATION ----------------------------------------------------**/
.grød{
    background-color: aqua;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 20px;
}






/** DEL VIDEN **/
.del{
    background-color: #F7AA43;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 90px; 
    padding-top: 30px;
    
}
.hastag{
    text-decoration: none;
    color:#3d3d3d;
    font-weight: bold;
}
form{
    padding-top:10px;
}


/** BANNER **/
.banner{
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}
.bannerlink{
    text-decoration: none;
    color:#3d3d3d;
    font-weight: bolder;
    position: absolute;
    top: 70%;
    left: 40%;
}
.bannerlink:hover{
    transform: scale(1.5);
}


/**--------------------------------------------- FOOTER ----------------------------------------------------**/
.footer{
    display: flex;
    height: 150px;
    bottom: 0;
    border-top: 2px solid #c7dee2;
}
.tekstfooter{
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F7AA43;
    width: 150px;
}


/** MINI MENU **/
.mini{
    color:gray;
}
.btn-secondary{
    background-color:#EDEFEF;
    border-color: #EDEFEF;
    color:#3d3d3d;
    text-align: start;
}

/** SOCIALE MEDIER **/
.facebook{
    padding-top:20px;
    width: 50px; 
}
.instagram{
    padding-top:20px;
    margin-left: 10px;
    width: 50px; 
}


/** KONTAKT FORMULAR**/
form{
   margin-bottom: 50px;
}
.form-control{
    background-color:#F7F7F7;
}

.btn-light{
    background-color: #c7dee2;
}











